<nav class="navbar navbar-expand-lg " style="background-color: white;">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand pl-5" href="#">
            <img src="https://res.cloudinary.com/project-yelp/image/upload/v1668107207/Yelpcamp/AAW_Logo_-_Original_-_5000x5000_jvxgy2.png"
                alt="" width="100" height="60">
        </a> <button class="navbar-toggler" style="background-color: none" type="button" data-toggle="collapse"
            data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false"
            aria-label="Toggle navigation">
            <div class="menu"></div>
            <div class="menu"></div>
            <div class="menu"></div>
            <span class="navbar-toggler-icon" style="background-color:none"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ml-auto nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Papers</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/campgrounds">Journey</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">name</a>
                </li>

            </ul>

            <a href="/register/" class="btn btn-primary ml-3" style="background-color: #7c4dff" tabindex="-1"
                role="button" aria-disabled="true">Register</a>
            <a href="/login/" class="btn btn-primary ml-3" style="background-color: #7c4dff" tabindex="-1" role="button"
                aria-disabled="true">Login</a>
        </div>
    </div>
</nav>