<% layout('layouts/boilerplate')%>


    <div>


        <div class="container-md text-center">
            <div class="row justify-content-center mb-3">
                <div class="col-md-10">
                    <h3 class="dsplay-4">Our Most Popular Campgrounds</h3>
                    <hr>
                </div>
            </div>
            <div class="row justify-content-around ">

                <div class="col-md-6 col-lg-4 my-4" id="index-wrapper">
                    <div class="card card-index">
                        <div class="card-img">
                            <img class="img-fluid" src="./Yelp Camp_files/lax1mbksxhnjzdhxr6uo.jpg" alt="Ladakh">
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h4> Ladakh </h4>
                            </div>
                            <div class="card-text">
                                <p>Enclosed by the serenity and the picturesque landscape, Ladakh is the perfect camping
                                    sight in India...</p>
                                <a href="https://yelpcampapp.herokuapp.com/campgrounds/5f845f0685bd6a001786811e"
                                    class="btn btn-primary btn-sm stretched-link">
                                    View More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 my-4" id="index-wrapper">
                    <div class="card card-index">
                        <div class="card-img">
                            <img class="img-fluid" src="./Yelp Camp_files/aof0eb8kgh9hk32ekkri.jpg" alt="Mussoorie">
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h4> Mussoorie </h4>
                            </div>
                            <div class="card-text">
                                <p>Mussoorie is the most famous travel destination and an ideal camping destination in
                                    India. Every yea...</p>
                                <a href="https://yelpcampapp.herokuapp.com/campgrounds/5f846d9e85bd6a001786811f"
                                    class="btn btn-primary btn-sm stretched-link">
                                    View More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 my-4" id="index-wrapper">
                    <div class="card card-index">
                        <div class="card-img">
                            <img class="img-fluid" src="./Yelp Camp_files/zd7iypjtehmpq1e9joxw.jpg" alt="Sonamarg">
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h4> Sonamarg </h4>
                            </div>
                            <div class="card-text">
                                <p>Located at an altitude of 2,740 meters above sea level and surrounded by the snowy
                                    mountains and lus...</p>
                                <a href="https://yelpcampapp.herokuapp.com/campgrounds/5f846df185bd6a0017868120"
                                    class="btn btn-primary btn-sm stretched-link">
                                    View More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 my-4" id="index-wrapper">
                    <div class="card card-index">
                        <div class="card-img">
                            <img class="img-fluid" src="./Yelp Camp_files/r4gvlr5bzdq0x0mqf8n7.jpg" alt="Solang Valley">
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h4> Solang Valley </h4>
                            </div>
                            <div class="card-text">
                                <p>Solang Valley in Himachal Pradesh is a perfect destination for all the camping
                                    lovers.
                                    along with th...</p>
                                <a href="https://yelpcampapp.herokuapp.com/campgrounds/5f846fcc85bd6a0017868122"
                                    class="btn btn-primary btn-sm stretched-link">
                                    View More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 my-4" id="index-wrapper">
                    <div class="card card-index">
                        <div class="card-img">
                            <img class="img-fluid" src="./Yelp Camp_files/rkndpruwi9vlcesc42dn.jpg" alt="Rishikesh">
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h4> Rishikesh </h4>
                            </div>
                            <div class="card-text">
                                <p>Located in the foothills of Himalayas, Rishikesh is among the best camping
                                    destinations
                                    in India. Th...</p>
                                <a href="https://yelpcampapp.herokuapp.com/campgrounds/5f84701185bd6a0017868123"
                                    class="btn btn-primary btn-sm stretched-link">
                                    View More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 my-4" id="index-wrapper">
                    <div class="card card-index">
                        <div class="card-img">
                            <img class="img-fluid" src="./Yelp Camp_files/jfb8wly4pgonaz9nhz0m.jpg" alt="Spiti Valley">
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h4> Spiti Valley </h4>
                            </div>
                            <div class="card-text">
                                <p>To get respite from the hot summers, Spiti valley is one of the popular camping sites
                                    for
                                    all the ad...</p>
                                <a href="https://yelpcampapp.herokuapp.com/campgrounds/5f84705285bd6a0017868124"
                                    class="btn btn-primary btn-sm stretched-link">
                                    View More</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-lg-4 my-4" id="index-wrapper">
                    <div class="card card-index">
                        <div class="card-img">
                            <img class="img-fluid" src="./Yelp Camp_files/haa5nhlplbobxcvrwmb5.jpg" alt="Potrerillos">
                        </div>
                        <div class="card-body">
                            <div class="card-title">
                                <h4> Potrerillos </h4>
                            </div>
                            <div class="card-text">
                                <p>Sjsjbsbs...</p>
                                <a href="https://yelpcampapp.herokuapp.com/campgrounds/611c2a0910ccd40015fb9ba8"
                                    class="btn btn-primary btn-sm stretched-link">
                                    View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
            integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
            crossorigin="anonymous"></script>

    </div>