<% layout('layouts/boilerplate')%>



    <div class="container mt-5">

        <h1 class="h1" style="text-align:left; margin-bottom: 30px;">What is IELTS?</h1>
        <p class="lh-lg ">The International English Language Testing System (IELTS) is designed to help you work,
            study
            or migrate to a country
            where English is the native language. This includes countries such as Australia, Canada, New Zealand, the UK
            and USA.
        </p>
        <p class="lh-lg">
            Your ability to listen, read, write and speak in English will be assessed during the test. IELTS is graded
            on a scale of
            1-9.
        </p>
        <p class="lh-lg">
            IELTS is jointly owned by the British Council, IDP: IELTS Australia and Cambridge English.

        </p>
        <hr style="background-color: #a98cf9;">
        <h1 class="h1" style="text-align:left;  margin-bottom: 30px;">Why take IELTS?</h1>
        <p class="lh-lg">If you are looking to work, live or study in an English-speaking country, then you must be able
            to demonstrate a high
            level of English language ability.

        </p>
        <p class="lh-lg">
            English is the third most spoken language in the world, with 379 million speakers worldwide.

        </p>
        <p class="lh-lg">
            Being able to communicate in the native language of the country you wish to work or study in, has a wide
            range of
            benefits. It is also essential for job opportunities as well as integration into the community.

        </p>
        <hr style="background-color: #a98cf9;">
        <h1 class="h1" style="text-align:left;  margin-bottom: 30px;">How IELTS is developed</h1>
        <p class="lh-lg">IELTS is developed to provide a fair and accurate assessment of English language proficiency.

        </p>
        <p class="lh-lg">
            Test questions are developed by language specialists from Australia, Canada, New Zealand, the UK and the
            USA. The test
            covers four sections: Listening, Reading, Writing and Speaking.


        </p>
        <p class="lh-lg">
            IELTS test content reflects everyday situations. It is unbiased and fair to all test takers from all
            backgrounds.


        </p>
    </div>




    <div class="container mb-5">
        <hr style="background-color: #a98cf9;">
        <h1 class="h1" style="text-align:left;  margin-bottom: 30px;">Learn more about IELTS</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            <div class="col">
                <div class="card about-info">
                    <img src="https://res.cloudinary.com/project-yelp/image/upload/v1668629212/kklywiszqdezhb0dfkjd.jpg"
                        class="card-img-top about-img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">IELTS for migration</h5>
                        <p class="card-text">IELTS is accepted for migration to Australia, Canada, New Zealand and the
                            United Kingdom.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card about-info">
                    <img src="https://res.cloudinary.com/project-yelp/image/upload/v1668629269/How-International-Students-Can-Inspire-Others-1_v8pvgq.jpg"
                        class="card-img-top about-img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">IELTS for study</h5>
                        <p class="card-text">Thousands of education and training providers all over the world use IELTS
                            results to select their students.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card about-info">
                    <img src="https://res.cloudinary.com/project-yelp/image/upload/v1668629355/job_satisfaction_hk_uy8x8c.jpg"
                        class="card-img-top about-img" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">IELTS for work</h5>
                        <p class="card-text">Many professional registration bodies and employers rely on IELTS as proof
                            of English language ability.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>