<% layout('layouts/boilerplate')%>




    <section class="container-fluid " id="container-main">
        <div class="row align-items-center">
            <div class="col ml-5">

                <div class="co-lg-6 " id="m1">
                    <h1 id="welcome" style="color: #27235f;">WELCOME TO</h1>
                    <h1 style="color: #aa56a5;">AAW</h1>
                </div>
                <div class="col" id="m1">
                    <p class="pt-2">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur, sed ullam. Cum nisi illo
                        maiores dolorem voluptate perferendis, dolore vitae repellat fuga earum in qui delectus fugiat!
                        Quisquam, natus voluptate.
                    </p>
                </div>

            </div>

            <div class="col">
                <img loading="lazy" class="img-fluid"
                    src="https://res.cloudinary.com/project-yelp/image/upload/v1668109599/Yelpcamp/iels_p4er0i.png"
                    alt="http://marketingcafe.in/wp-content/uploads/2022/01/2.png" class="banner-img">
            </div>
        </div>
    </section>







    <div class="container">

        <hr class="mt-5">
        <h1 class="display-2 pt-2 pb-3" style="color: black;">FEATURES</h1>

        <div class="row row-cols-1 row-cols-md-3 g-4 mb-5">
            <div class="col">
                <div class="card"  id="featurecard">
                    <img src="https://res.cloudinary.com/project-yelp/image/upload/v1668270739/samples/people/images_wuhcjo.png"
                        class="img-fluid" alt="..." id="imgs">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="featurecard">
                    <img src="https://res.cloudinary.com/project-yelp/image/upload/v1668270739/samples/people/images_wuhcjo.png"
                        class="img-fluid" alt="..." id="imgs">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card" id="featurecard">
                    <img src="https://res.cloudinary.com/project-yelp/image/upload/v1668270739/samples/people/images_wuhcjo.png"
                        class="img-fluid" alt="..." id="imgs">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                            additional
                            content. This content is a little bit longer.</p>
                    </div>
                </div>
            </div>

        </div>
    </div>






    <div id="students">
        <div class="container">
            <hr>
            <div class="">
                <h1 class="display-4 pt-4 pb-3 " style="color: #322c7c;">TOP STUDENTS</h1>

            </div>

            <div class="row row-cols-1 row-cols-md-3 g-4 ">
                <div class="col">
                    <div class="card h-100" id="stcard">
                        <div class="row row-cols-1">
                            <div class="row">
                                <div class="col">
                                    <img src="https://res.cloudinary.com/project-yelp/image/upload/v1668351302/blank-profile-picture-973460_1280_xirpy4.png"
                                        class="card-img-top" alt="..." id="stimage">
                                </div>
                                <div class="col pt-3">
                                    <h5 class="card-title">Card title</h5>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body">

                                    <p class="card-text">This is a longer card with supporting text below as a
                                        natural
                                        lead-in
                                        to additional
                                        content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="card h-100" id="stcard">
                        <div class="row row-cols-1">
                            <div class="row">
                                <div class="col">
                                    <img src="https://res.cloudinary.com/project-yelp/image/upload/v1668351302/blank-profile-picture-973460_1280_xirpy4.png"
                                        class="card-img-top" alt="..." id="stimage">
                                </div>
                                <div class="col pt-3">
                                    <h5 class="card-title">Card title</h5>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body">

                                    <p class="card-text">This is a longer card with supporting text below as a
                                        natural
                                        lead-in
                                        to additional
                                        content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="card h-100" id="stcard">
                        <div class="row row-cols-1">
                            <div class="row">
                                <div class="col">
                                    <img src="https://res.cloudinary.com/project-yelp/image/upload/v1668351302/blank-profile-picture-973460_1280_xirpy4.png"
                                        class="card-img-top" alt="..." id="stimage">
                                </div>
                                <div class="col pt-3">
                                    <h5 class="card-title">Card title</h5>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body">

                                    <p class="card-text">This is a longer card with supporting text below as a
                                        natural
                                        lead-in
                                        to additional
                                        content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="card h-100" id="stcard">
                        <div class="row row-cols-1">
                            <div class="row">
                                <div class="col">
                                    <img src="https://res.cloudinary.com/project-yelp/image/upload/v1668351302/blank-profile-picture-973460_1280_xirpy4.png"
                                        class="card-img-top" alt="..." id="stimage">
                                </div>
                                <div class="col pt-3">
                                    <h5 class="card-title">Card title</h5>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body">

                                    <p class="card-text">This is a longer card with supporting text below as a
                                        natural
                                        lead-in
                                        to additional
                                        content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="card h-100" id="stcard">
                        <div class="row row-cols-1">
                            <div class="row">
                                <div class="col">
                                    <img src="https://res.cloudinary.com/project-yelp/image/upload/v1668351302/blank-profile-picture-973460_1280_xirpy4.png"
                                        class="card-img-top" alt="..." id="stimage">
                                </div>
                                <div class="col pt-3">
                                    <h5 class="card-title">Card title</h5>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body">

                                    <p class="card-text">This is a longer card with supporting text below as a
                                        natural
                                        lead-in
                                        to additional
                                        content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col">
                    <div class="card h-100" id="stcard">
                        <div class="row row-cols-1">
                            <div class="row">
                                <div class="col">
                                    <img src="https://res.cloudinary.com/project-yelp/image/upload/v1668351302/blank-profile-picture-973460_1280_xirpy4.png"
                                        class="card-img-top" alt="..." id="stimage">
                                </div>
                                <div class="col pt-3">
                                    <h5 class="card-title">Card title</h5>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card-body">

                                    <p class="card-text">This is a longer card with supporting text below as a
                                        natural
                                        lead-in
                                        to additional
                                        content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="pt-4">
            <hr width="100%">
        </div>
    </div>


    <div class="container">

    </div>

    <div class="container">
        <h1 class="display-3 mt-5 pt-5">OUR COURCES</h1>
        <div class="row">
            <div class="col d-flex justify-content-center" id="adlayout">
                <div class="card" id="adcard" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Start Learning Today</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Cources</h6>
                        <p class="text-left">&#10003; Shareable Specialization and Course Certificates</p>
                        <p class="text-left">&#10003; Self-Paced Learning Option</p>
                        <p class="text-left">&#10003; Course Videos & Readings</p>
                        <p class="text-left">&#10003;Practice Quizzes</p>
                        <p class="text-left">&#10003; Graded Assignments with Peer Feedback</p>
                        <p class="text-left">&#10003; Graded Programming Assignments</p>
                        <button type="button" class="btn btn-primary btn-lg btn-block"
                            style="background-color: #a98cf9;">Enroll Today</button>

                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center" id="adlayout">
                <div class="card" id="adcard" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Start Learning Today</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Cources</h6>
                        <p class="text-left">&#10003; Shareable Specialization and Course Certificates</p>
                        <p class="text-left">&#10003; Self-Paced Learning Option</p>
                        <p class="text-left">&#10003; Course Videos & Readings</p>
                        <p class="text-left">&#10003;Practice Quizzes</p>
                        <p class="text-left">&#10003; Graded Assignments with Peer Feedback</p>
                        <p class="text-left">&#10003; Graded Programming Assignments</p>
                        <button type="button" class="btn btn-primary btn-lg btn-block"
                            style="background-color: #a98cf9;">Enroll Today</button>

                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center" id="adlayout">
                <div class="card" id="adcard" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Start Learning Today</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Cources</h6>
                        <p class="text-left">&#10003; Shareable Specialization and Course Certificates</p>
                        <p class="text-left">&#10003; Self-Paced Learning Option</p>
                        <p class="text-left">&#10003; Course Videos & Readings</p>
                        <p class="text-left">&#10003;Practice Quizzes</p>
                        <p class="text-left">&#10003; Graded Assignments with Peer Feedback</p>
                        <p class="text-left">&#10003; Graded Programming Assignments</p>
                        <button type="button" class="btn btn-primary btn-lg btn-block"
                            style="background-color: #a98cf9;">Enroll Today</button>

                    </div>
                </div>
            </div>
        </div>






        <div class="container contactpg">
            <h2 class="display-4 text-center mb-5">Contact us</h2>
            <div class="row">
                <div class="col">
                    <img src="https://res.cloudinary.com/project-yelp/image/upload/v1668453699/undraw-contact_lt00ai.svg"
                        alt="" class="img-fluid contactimg">
                </div>

                <div class="col">
                    <form action="">
                        <div class="mb-3">
                            <label class="form-label" for="title">Your Name</label>
                            <input class="form-control" type="text" id="title" name="campground[title]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="location">Email</label>
                            <input class="form-control" type="email" id="location" name="campground[location]" required>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>


                        <div class="mb-3">
                            <label class="form-label" for="price">Phone</label>
                            <div class="input-group">
                                <input type="text" class="form-control" id="price" placeholder="" aria-label="price"
                                    aria-describedby="price-label" name="campground[price]" required>
                            </div>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="form-label" for="description">Subject</label>
                            <textarea class="form-control" type="text" id="description" name="campground[description]"
                                required></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="description">Message</label>
                            <textarea class="form-control" type="text" id="description" name="campground[description]"
                                required></textarea>
                            <div class="valid-feedback">
                                Looks good!
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn mt-2 mb-3" style="background-color: #7c4dff; color: aliceblue;">Add
                                Campground</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>